#start {
  width: 100px;
  height: 100px;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#BarraDeStart {
  display: flex;
  justify-content: center;
  align-items: center;
}

#scrolling-background {
  z-index: -50;
  position: absolute;
  background:url(/img/scrolling-background.jpg)  repeat-x;
  height: 100vh;
  width: 3840px;
  animation: slide 25s linear infinite;
}
@keyframes slide {
  0% {
      transform: translate(0);
    }
    100% {
      transform: translate(-1920px); /* The image width * 2 */
    }
}

#full-page-div {
  animation: fadeIn 2s;
  z-index: 1; 
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

#canvas {
  
  border-radius: 50px;
  margin-right: 80px !important;
  border-color: antiquewhite;
  background-image: url(/img/backgroung-canvas.png);
  background-size: cover;
}
